<div id="container_p">
   <div class="notice">
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible show fade">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">
               <span>&times;</span>
            </button>
         </div>
      <% end %>
   </div>  
   <div class="d-flex justify-content-around row">
      <div class="col-11 col-sm-8 col-md-6">
         <h2 style="text-align: center; padding-top: 40px">Ma page</h2>
         <div class="border border-dark rounded bg-light">
            <p style="text-align: center; padding: 10px; font-size: 20px"><strong>Nom:</strong> <%= @user.name %></p>
            <p style="text-align: center; padding: 10px; font-size: 20px"><strong>Email:</strong> <%= @user.email %></p>
            <p style="text-align: center; padding: 10px; font-size: 20px"><strong>Date d'inscription:</strong> <%= @user.created_at.strftime('%Y-%m-%d') %></p>
            <div class="d-flex justify-content-center pb-3"><%= link_to 'Modifier mon profil', edit_user_registration_path, class:"btn btn-outline-dark" %></div>
         </div>
      </div>
   </div>
</div>