<%= form_with(model: rental, html: { class: "my-form" }) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% rental.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if rental.car_id.blank? %>
    <% car_id = params[:car_id] %>
  <% else %>
    <% car_id = rental.car_id %>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :chauffeur_id %>
    <%= form.collection_select :chauffeur_id, Chauffeur.all, :id, :name, { include_blank: true }, { allow_blank: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :car_matricule %>
    <%= form.text_field :car_id, value: car_id, readonly: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :user_name %>
    <%= form.text_field :user_id, value: current_user.id, readonly: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', rentals_path, class: 'btn btn-secondary' %>
  </div>
<% end %>