<div id="container_p">
  <div class="container">
    <div style="text-align: center; padding-top: 40px;"><h1>Liste de l'historique des locations</h1></div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nom du client</th>
          <th>Date</th>
          <th>Heure</th>
          <th>Prix de la location</th>
          <th>Nombre de jour</th>
          <th>Destination</th>
          <th>Numéro matricule du véhicule</th>
          <th>Nom du chauffeur</th>
        </tr>
      </thead>
      <tbody>
        <% @rental_histories.each do |history| %>
          <tr>
            <td><%= history.name %></td>
            <td><%= history.format_date %></td>
            <td><%= history.format_time %></td>
            <td><%= number_to_currency(history.price, unit: ' F CFA ') %></td>
            <td><%= pluralize(history.duration, "jour", plural: "jours") %></td>
            <td><%= history.destination %></td>
            <td><%= history.car_matricule %></td>
            <td>
              <% if history.chauffeur.present? %>
              <%= history.chauffeur %>
              <% else %>
                <span style="color: blue;">Pas de chauffeur</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @rental_histories %></div>
</div>