<div id="container_p">
    <div class="notice">
        <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible show fade">
                <%= flash[:notice] %>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
        <% end %>
    </div>
    <div class="d-flex justify-content-around row">
        <div class="col-11 col-sm-8 col-md-6">
            <h2 style="text-align: center; padding: 20px">Edit parking</h2>
            <%= form_for( @parking, url: parking_path(@parking), local: true, method: :patch) do |f| %>
                <% if @parking.errors.any? %>
                <div id="error_explanation">
                    <div class="alert alert-danger">
                    The form contains <%= pluralize(@parking.errors.count, "error") %>.
                    </div>
                    <ul>
                    <% @parking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
                <% end %>
            
                <%= f.label :name %>
                <%= f.text_field :name %>
                <br>
                <%= f.label :name_gerant %>
                <%= f.text_field :name_gerant %>
                <br>
                <%= f.label :email %>
                <%= f.text_field :email %>
                <br>
                <%= f.label :city %>
                <%= f.text_field :city %>
                <br>
                <%= f.label :latitude %>
                <%= f.number_field :latitude, step: "0.000001", min: "-90", max: "90" %>
                <br>
                <%= f.label :longitude %>
                <%= f.number_field :longitude, step: "0.000001", min: "-180", max: "180" %>
                <br>
                
                <%= f.submit "Modifier", class: "btn btn-gray" %>
            <% end %>
        </div>
    </div>
</div>