<div id="container_p">
   <div class="notice">
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible show fade">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">
               <span>&times;</span>
            </button>
         </div>
      <% end %>
   </div>  
   <div style="text-align: center; padding-top: 40px;"><h1>Liste des parkings</h1></div>
   <div class="container" >
      <div class="row">
         <% @parkings_with_car_counts.each do |parking| %>
            <div class="col-12 my-3">
    <div class="car-count-badge text-right">
      Nombre de voitures: <%= parking.car_count %>
    </div>

               <section class="card bg-light text-dark">
                  <div class="card-body">
                     <p class="d-flex justify-content-around">Nom: <%= parking.name %></p>
                     <p class="d-flex justify-content-around">Nom du gérant: <%= parking.name_gerant %></p>
                     <p class="d-flex justify-content-around">Ville: <%= parking.city %></p>
                     <p class="d-flex justify-content-around">Email: <%= parking.email %></p>
                     <p class="d-flex justify-content-around">
                        Nombre de voitures: <%= parking.car_count %>
                     </p>
                     <% if current_user.admin? %>
                        <span class="d-flex justify-content-around"> 
                           <%= button_to 'Modifier', edit_parking_path(parking), method: :get, class: "btn btn-gray" %>
                           <%= button_to 'Show', parking_path(parking), method: :get, class: "custom-button btn btn-dark" %>
                           <%= button_to 'Supprimer', parking, method: :delete, data: {confirm: "Êtes-vous sûr?" }, class: "btn btn-danger custom-button" %>              
                        </span>
                     <% else %>
                        <span class="d-flex justify-content-around">
                           <%= button_to 'Show', parking_path(parking), method: :get, class: "custom-button btn btn-dark" %>
                           <%= link_to 'Back', root_path, class:"btn btn-outline-dark" %>              
                        </span>
                     <% end %>
                  </div>
               </section>
            </div>
         <% end %>
      </div>
   </div>
   <div class="col-12 my-3 text-center">
      <% if current_user.admin? %>
         <%= link_to "Créer un parking", new_parking_path, class: "btn btn-primary" %>
      <% end %>
   </div>
   <div class="d-flex justify-content-center"><%= paginate @parkings %></div>
</div>