<div id="container_p">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible show fade">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="text-center pt-4">
    <div class="total-cars-box">
      <h1>Liste des voitures</h1>
      <div class="total-cars total-cars-blue"><%= @total_cars %></div>
      <div class="total-cars total-cars-green"><%= @total_cars_available %></div>
    </div>
  </div>

  <%= form_tag(cars_path, method: :get, class: "my-3") do %>
    <div class="row">
      <div class="col-md-3">
        <%= text_field_tag :numero_matricule, params[:numero_matricule], placeholder: "Numéro de Matricule", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= select_tag :parking, options_for_select(Parking.all.map { |p| [p.name, p.id] }, params[:parking]), prompt: "Sélectionner un parking", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :modele, params[:modele], placeholder: "Modèle", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :car_type, params[:car_type], placeholder: "Type de Voiture", class: "form-control" %>
      </div>
      <div class="col-md-3 mt-2">
        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Numéro matricule</th>
          <th>Marque</th>
          <th>Modele</th>
          <th>Carburant</th>
          <th>Car type</th>
          <th>Année</th>
          <th>Parking</th>
          <th>Price rental</th>
          <th>Disponibilité</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= image_tag car.photo.variant(resize_to_limit: [100, 100]) if car.photo.attached? %></td>
            <td><%= car.numero_matricule %></td>
            <td><%= car.marque %></td>
            <td><%= car.modele %></td>
            <td><%= car.carburant %></td>
            <td><%= car.car_type %></td>
            <td><%= car.annee %></td>
            <td><%= car.parking.name %></td>
            <td class="price-rental"><%= number_to_currency(car.price_rental, unit: 'F CFA ') %></td>
            <td>
              <h5 class="card-title ">
                <% if car.disponible %>
                  <span style="color: green; font-weight: bold;">Disponible</span>
                <% else %>
                  <span style="color: red; font-weight: bold;">Occupé</span>
                <% end %>
              </h5>
            </td>
            <% if current_user.admin? %>              
              <td><%= button_to 'Show', car_path(car), method: :get, class: "custom-button btn btn-dark" %></td>
            <% else %>
              <td><%= button_to 'Show', car_path(car), method: :get, class: "custom-button btn btn-dark" %></td>
              <td><%= link_to 'Back', root_path, class: "btn btn-outline-dark" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-12 my-3 text-center">
    <% if current_user.admin? %>
      <%= link_to "Créer une voiture", new_car_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @cars %></div>
</div>