<div id="container_p">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible show fade">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
      </div>
    <% end %>
  </div>
  <div style="text-align: center; padding-top: 40px;"><h1>Car Détail</h1></div>
  <div class="card mb-3 my-3 mx-auto" style="max-width: 80%;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <%= image_tag @car.photo.variant(resize_to_limit: [500, 500]), class: "car-image img-fluid" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">
            <% if @car.disponible %>
              <span style="color: green; font-weight: bold;">Disponible</span>
            <% else %>
              <span style="color: red; font-weight: bold;">Occupé</span>
            <% end %>
          </h5>
          <p class="card-text price-rental">Prix de location: <%= number_to_currency(@car.price_rental, unit: 'F CFA ') %> </p>
          <p class="card-text">Parking: <%= @car.parking.name%> </p>
          <p class="card-text">Type: <%= @car.car_type %> </p>
          <p class="card-text">Marque: <%= @car.marque %> </p>
          <p class="card-text">Matricule: <%= @car.numero_matricule %> </p>
          <p class="card-text">Modele: <%= @car.modele %> </p>
          <p class="card-text">Carburant: <%= @car.carburant %> </p>

          <div class="d-flex justify-content-around align-items-center mt-3"> 
            <% if current_user.admin? %>
              <%= button_to 'Modifier', edit_car_path(@car), method: :get, class: "btn btn-gray" %>
              <%= button_to 'Supprimer', car_path(@car), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger custom-button" %>
            <% else %> 
              <%= button_to 'Back', cars_path(@car), method: :get, class:"btn btn-outline-dark" %>  
              <% if @car.disponible? %>
                <%= link_to "Rental", new_rental_path(car_id: @car.id, user_id: current_user.id), class:"btn btn-outline-dark" %>
              <% else %>
                <p style="color: red;">Déjà réservée.</p>
              <% end %>
            <% end %>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>