<div id="container_p">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible show fade">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
      </div>
    <% end %>
  </div>  
  <div style="text-align: center; padding-top: 40px;"><h1>Liste des chauffeurs</h1></div>

  <div class="container">
    <div class="row">
      <% @chauffeurs.each do |chauffeur| %>
        <div class="col-12 col-md-6 my-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= chauffeur.name %></h5>
              <p class="card-text">Téléphone: <%= chauffeur.telephone %></p>
              <p class="card-text">Quartier: <%= chauffeur.quartier %></p>
              <p class="card-text">Parking: <%= chauffeur.parking.name %></p>
              <% if current_user.admin? %>
              <span class="d-flex justify-content-around">              
                <%= button_to 'Show', chauffeur_path(chauffeur), method: :get, class: "custom-button btn btn-dark" %>
                <%= button_to 'Modifier', edit_chauffeur_path(chauffeur), method: :get, class: "btn btn-gray" %>
                <%= button_to 'Supprimer', chauffeur, method: :delete, data: {confirm: "Êtes-vous sûr?" }, class: "btn btn-danger custom-button" %>
              </span>
              <% else %>
              <span class="d-flex justify-content-around">
                <%= button_to 'Show', chauffeur_path(chauffeur), method: :get, class: "custom-button btn btn-dark" %>
                <%= link_to 'Back', root_path, class:"btn btn-outline-dark" %>
              </span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 my-3 text-center">
    <% if current_user.admin? %>
        <%= link_to "Créer un chauffeur", new_chauffeur_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @chauffeurs %></div>
</div>