<div id="container_p">
   <div class="notice">
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible show fade">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">
               <span>&times;</span>
            </button>
         </div>
      <% end %>
   </div>  
   <div class="d-flex justify-content-around row">
      <div class="col-11 col-sm-8 col-md-6">
         <h2 style="text-align: center; padding-top: 40px">Details Chauffeur</h2>
         <div class="border border-dark rounded bg-light" style="margin-bottom: 20px;">
            <div class="row">
               <div class="col-6 text-div">
                  <p style="font-size: 20px"><strong>Nom:</strong> <%= @chauffeur.name %></p>
                  <p style="font-size: 20px"><strong>Parking:</strong> <%= @chauffeur.parking.name %></p>
                  <p style="font-size: 20px"><strong>Quartier:</strong> <%= @chauffeur.quartier %></p>
                  <p style="font-size: 20px"><strong>Telephone:</strong> <%= @chauffeur.telephone %></p>
               </div>
               <div class="col-6">
                  <div class="text-center">
                     <strong>Photo du Permis:</strong>
                     <% if @chauffeur.photo_permis.attached? %>
                        <%= image_tag @chauffeur.photo_permis.variant(resize_to_fill: [250, 150]) %>
                     <% else %>
                        <p>Pas de photo du permis disponible.</p>
                     <% end %>
                  </div>
                  <div class="text-center">
                     <strong>Photo de la Carte:</strong>
                     <% if @chauffeur.photo_carte.attached? %>
                        <%= image_tag @chauffeur.photo_carte.variant(resize_to_fill: [250, 150]) %>
                     <% else %>
                        <p>Pas de photo de la carte disponible.</p>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-center pb-3">
               <%= link_to 'Modifier chauffeur', edit_chauffeur_path, class: "btn btn-gray" %>
            </div>
         </div>
      </div>
   </div>
</div>